PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=streamtheme
JWT_SECRET=your_jwt_secret_key_change_this
CLIENT_URL=http://localhost:5173
ADMIN_INITIAL_PASSWORD=ComplexPasswordHere123!




# Server Port
PORT=5000

# Database Configuration (Ensure this points to Production DB)
DB_HOST=localhost
DB_USER=orbio_db
DB_PASS=H@k9311995415
DB_NAME=stream_theme_master

# Security
JWT_SECRET=your_super_secure_production_jwt_secret

# Frontend URL (For redirects)
CLIENT_URL=https://app.orbio.in

# Email (Gmail)
EMAIL_USER=orbiodesigns@gmail.com
EMAIL_PASS=yqos vpee uqnp dsim

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_live_RtOQ1MgyCBmEYF
RAZORPAY_KEY_SECRET=vBkJrFGI90XjOo3366ebZJzW
